.container.welcome
  %ul.nav.navbar-nav.navbar-fixed-top
    .container-fluid
      .navbar-header
        %a.navbar-brand{href: "/"}
          =# image_tag('trademark/logo.png', alt: "Denvy Yard")
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            %button.btn  
              Malya, I
              %span.glyphicon.glyphicon-heart
              %span.glyphicon.glyphicon-shopping-cart
              %span.glyphicon.glyphicon-apple
              %span.glyphicon.glyphicon-ice-lolly
              %span.glyphicon.glyphicon-heart-empty
              %span.glyphicon.glyphicon-certificate
              %span.glyphicon.glyphicon-gift
              %span.glyphicon.glyphicon-star
              %span.glyphicon.glyphicon-camera
              %span.glyphicon.glyphicon-gift
              %span.glyphicon.glyphicon-lock
              %span.glyphicon.glyphicon-tint
              %span.glyphicon.glyphicon-eye-open
              %span.glyphicon.glyphicon-phone
              %span.glyphicon.glyphicon-flash
              %span.glyphicon.glyphicon-send
              %span.glyphicon.glyphicon-cutlery
              %span.glyphicon.glyphicon-sunglasses
              You!
          %li
            %button.btn Каталог
          %li
            %button.btn О нас
#face-wrapper
  .centered-box
    .one-more-wrapper
      #face
      #face-background
    %p#percentage