
<div class="welcome_box">
	<h1 style="text-align: center; font-family: 'ralewaylight'; font-size: 80px; margin: 0; padding: 50px 12px 0 0;">Denvy Yard</h1>
	<h2 style="font-size: 109%; letter-spacing: 8.7px; margin: 0 0 50px 0;">PLAYGROUNDS AND SURFACES</h2>
	<div class="pic_box"></div>
	<div class="link_box">
		<h1><%= link_to "Каталог площадок", playgrounds_path, class: "home_links" %></h1>
		<h1><%= link_to "Игровые покрытия", "#", class: "home_links disabled_link" %></h1>
	</div>
</div>