<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, loafer!</h1>
    <h2>New customer wanna buy your playground!</h2>
    <p>
      Имя: <%= @customer[:first_name] %><br>
      Телефон: <%= @customer[:phone_number] %><br><br>
      Данное письмо было отправлено роботом, чей код ты сам написал.
    </p>
    <p>
    Люблю малявочку свою.
    </p>

    <p>Have a great day!</p>
  </body>
</html>