// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.description {
	margin-left: 30px;
	display: inline-block;
	width: 500px;
	p {
		margin-top: 0;
		font-size: 105%;
		font-style: italic;
		max-width: 85%;
	}
	li {
		font-size: 1.5em;
		font-family: 'ralewaylight';
		color: grey;
	}
	ul {
		list-style: none;
	}
}

.description2 {
	margin-left: 30px;
	display: inline-block;
	width: 500px;
	p {
		margin-top: 0;
		font-size: 105%;
		font-style: italic;
		max-width: 85%;
	}
	h3 {
		font-weight: normal;
		font-size: 1.5em;
		margin: 0 0;
		font-family: 'ralewaylight';
		color: grey;
	}
	ul {
		list-style: none;
	}
}

.stick {
	position: absolute;
	display: inline-block;
	width: 2px;
	height: 86%;
	left: -15px;
	background-color: #818181;
	box-shadow: 0 0 1px darkgrey;
}

.d_box {
	display: inline-block;
	position: relative;
	top: -5px;
}

