<footer>
	<div class="box">
	<p>Copyright © 2015 Denvy Yard playgrounds and surfaces <br>Денви Ярд | Проектирование, дизайн, производство, продажа, <br>установка игровых детских площадок премиум сегмента из дерева</p>
	</div>
	<div class="box" style="text-align: right;"><%= link_to('О нас', about_path, class: "link") %><a class="link" href="https://plus.google.com/111534217525017702685" rel="publisher">Google+</a></div>
</footer>