<header>
	<div class="left_header_box">
		<h2 style="display:inline;"><%= link_to 'Денви Ярд', root_path %></h2>
		<h3 style="display:inline;"> . <%= link_to 'Детские игровые площадки', playgrounds_path %> . <%= @playground.name_RU %></h3>
	</div>
	<div class="right_header_box">
		<div class="catchy_phone">
			<p style="margin:0;">
				<span class="f_phone">в Москве </span><span style="font-size: 120%;">+7 (499) 390-53-30</span>
			</p>
		</div>
		<div class="return_call_btn" onclick="yaCounter28248276.reachGoal('return_call_btn_click'); return true;">Обратный звонок</div>
	</div>
</header>