<div id="whoweare">
	<h1>Почему <b>выбрать нас</b>?</h1>
	<div class="profile">
		<ul>
			<li><div class="icon icon-1"></div><h2>Мы <span style="color: #FF6863;">одержимы</span></h2>
				<p>Мы любим то, что мы делаем.</p>
			</li>
			<li><div class="icon icon-9"></div><h2>Артистично и сдержанно</h2>
				<p>Невероятный дизайн и живописный сюжет для жилого комплекса, парка или загородного дома.</p>
			</li>
			<li><div class="icon icon-5"></div><h2>Безопасно</h2>
				<p>Произведены в России из экологически чистых материалов с соблюдением международных стандартов безопасности EN 1176:2008.</p>
			</li>
			<li><div class="icon icon-8"></div><h2>Ремонт и обслуживание</h2>
				<p>Оперативный ремонт или замена отдельных частей площадки, покрытия и световых приборов.</p>
			</li>
			<li><div class="icon icon-3"></div><h2>Гибкость цен</h2>
				<p>Вы сами выбираете элементы из которых будет состоять Ваша площадка.</p>
			</li>
			<li><div class="icon icon-6"></div><h2>Легко и в срок</h2>
				<p>Опытный менеджмент и сотрудничество с проверенными партнёрами. <%#По любым неразрешенным вопросам Вы можете обращаться сразу к руководству <%= mail_to('oleg.afanasyev@denvyyard.com', 'oleg.afanasyev@denvyyard.com', class: "emailto") %></p>
			</li>
			<li><div class="icon icon-7"></div><h2>Практично и функционально</h2>
				<p>Не уступают по функциональности наборным площадкам из пластика, более того, не электризуют детей, продуманны до мелочей, долговечны.</p>
			</li>
			<li><div class="icon icon-4"></div><h2>Развитие ключевых навыков</h2>
				<p>Наши площадки не помещают детей в идеальную среду, наоборот учат детей постепенно развивать навыки оценки и управления рисками в безопасной среде. Подробнее в <%= link_to('каталоге', playgrounds_path, class: 'intext_ref') %> или <%= link_to('Википедии', 'http://en.wikipedia.org/wiki/Playground#Safety', class: 'intext_ref') %>.</p>
			</li>
		</ul>
	</div>
	<div class="return_call_btn" onclick="yaCounter28248276.reachGoal('return_call_btn_click'); return true;">Заказать обратный звонок</div>
</div>